@import "tailwindcss";

:root {
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a;            /* slate-900 */
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

@theme {
  --color-finance-green: #00ff88;
}